/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  background-image: linear-gradient(to bottom, #0363bc, #011129);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #8ca7ff;
  border: 1px solid rgba(255, 255, 255, 0.349);
  border-radius: 10px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #c4d0f786;
  border-radius: 10px;
  height: 30%;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

