html,
body {
  background-image: linear-gradient(to bottom, #0363bc, #011129);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #8ca7ff;
  border: 1px solid rgba(255, 255, 255, 0.349);
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #c4d0f786;
  border-radius: 10px;
  height: 30%;
  transition: background-color 0.5s ease-in-out;
}
.css-twia2z-MuiPaper-root-MuiDialog-paper {
  background-color: #033785;
}
